/*GENERAL*/

*{
    margin: 0;
    padding: 0;
}
@viewport{
    zoom: 1.0;
}
html, body {
    margin:0;
    padding:0;
 }

a{
    text-decoration: none;
    color: #777777;
}
h2{
    text-transform: uppercase;
    font-family: 'Roboto','sans serif';
    font-weight: 500;
    color: white;
    font-size: 28px;
}
h3{
    text-transform: uppercase;
    font-family: 'Roboto','sans serif';
    font-weight: 500;
    color: black;
    font-size: 32px;
    text-align: center;
    padding-top: 60px;
}
h4{
    font-family: 'Roboto','sans serif';
    font-weight: 500;
    color: black;
    font-size: 20px;
    margin: 5px;
}


/*HEADER*/

.header{
    z-index: 10;
    top: 0;
    display: block;
    position: sticky;
    width: 100%;
    background-color: white;
}
.logo{
    padding: 20px 0px;
    width: 261px;
    height: 57px;
}
nav{
    font-family: 'Roboto','sans serif';
    font-weight: 500;
    font-size: 16px;
}
header nav ul li{
    display:inline-block;
    color: #777777;
    padding: 5px;
    border-top: 3px solid transparent;
}
header nav ul li:hover{
    border-top: 3px solid #5cadd3;
}
header nav a:hover{
    color: black;
}
.header-wrapper{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0% 10% 0% 10%;
}


/*VISIONNEUSE-SLIDER*/

.slider{
    position: relative;
    min-height: 300px;
}
.image-bg1{
    width: 100%;
}
#line {
    position: absolute;
    width: 10%;
    height: 5px;
    bottom: 0;
    border: none;
    background-color: #5cadd3; 
    display:inline-block;
}

.text-slider{
    position: absolute;
    top:50%;
    left:0;
    right: 0;
    transform: translateY(-50%);
    max-width: 1280px;
    margin:0 10%;
}
.fleche-gauche{
    top:50%;
    left:0;
    transform: translateY(-50%);
    max-width: 1280px;
    margin:0 1%;
    position: absolute;
    font-size: 40px;
    color: white;
    
}
.fleche-gauche::after {
    position: absolute;
    content: "";
    background-color: black;
    opacity: 0.2;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transform: translateX(-80%);
    z-index: 1;
}
.fleche-droite{
    top:50%;
    right:0;
    transform: translateY(-50%);
    max-width: 1280px;
    margin:0 1%;
    position: absolute;
    font-size: 40px;
    color: white;
    
}
.fleche-droite::after {
    position: absolute;
    content: "";
    background-color: black;
    opacity: 0.2;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transform: translateX(-80%);
    z-index: 1;
}
.Agence{
    font-family: 'Roboto', 'sans serif';
    font-weight: 500;
    text-transform: uppercase;
    color: #5cadd3;
}
.text-slider p{
    font-family: 'Roboto', 'sans serif';
    font-weight: 400;
    color:white;
    margin-top: 5px;
}
.button-1{
    display: block;
    font-family: 'Roboto', 'sans serif';
    font-weight: 400;
    height: 45px;
    width: 125px;
    margin-top: 20px;
    background: #5cadd3;
    color:white;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    box-shadow: 0px 3px #588baa;
}

/*NOS SERVICES*/
#Services{
    margin-top: 100px;
}
.flex-services{
    align-items: center;
    background-color: white;
}
.flex-services h3{
    position: relative;
    width: 260px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 0.5px solid #a2a2a2;
    padding-bottom: 20px;
}
.flex-services h3::after{
    position: absolute;
    content: "";
    border: 5px solid;
    border-color: white;
    background-color: #5cadd3;
    font-size: 10px;
    height: 20px;
    width: 20px;
    top:88%;
    border-radius: 100%;
    left: 50%;
    z-index: 1;
}
.en-tete{
    max-width: 600px;
    min-width: 280px;
    padding: 0px 20px;
    text-align: center;
    font-family: 'Roboto', 'sans serif';
    font-weight: 400;
    color:#777777;
    margin: auto;
    margin-bottom: 90px;
}
#services-body{
    background-color: white;
    justify-content:center;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    margin:auto;
    margin-bottom: 50px;
    max-width: 1280px;
}
#mac-image{
    background-position: left;
    width: 100%;
    max-width:510px;
    margin:10px 10px;
}
/*LISTE DES SERVICES*/

#services-liste{
    width: 100%;
    max-width: 620px;
    list-style: none;
    padding: 5%;
}
#step-1{
    display: flex;
    align-items: stretch;
    margin:auto;
    padding-bottom: 5%;
    align-items: center;
}
#step-2{
    display: flex;
    align-items: stretch;
    margin:auto;
    padding-bottom: 5%;
    align-items: center;
}
#step-3{
    display: flex;
    align-items: stretch;
    margin:auto;
    align-items: center;
}
.courbe{
    display: block;
    position: relative;
    font-size: 40px;
    color: #5cadd3;
    max-height: 40px;
    max-width: 40px;
    border: 1px solid #c1c0c0;
    border-radius: 100%;
    padding: 15px;
    flex-grow: 1;    
}
#services-liste li i::after{
    position: absolute;
    content: "";
    border: 3px solid;
    border-color: white;
    background-color: #5cadd3;
    border-radius: 100%;
    font-size: 12px;
    width: 1em; 
    height: 1em;
    top:50%;
    left: 100%;
    transform: translate(-50%,-50%)
}
#services-liste li p{
    padding-left: 5%;
    max-width: 600px;
    text-align:justify;
    font-family: 'Roboto', 'sans serif';
    font-weight: 400;
    color:#777777;
    flex-grow:9;
}
.step-title{
    height: auto;
    font-family: 'Roboto','sans serif';
    font-weight: 500;
    color: black;
    font-size: 20px;
}

/*NOS PROJETS*/

#Portfolio{
    background-color: #f5f5f5;
    margin-bottom: 150px;
} 
#Portfolio h3{
    position: relative;
    width: 300px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 0.5px solid #a2a2a2;
    padding-bottom: 20px;
}
#Portfolio h3::after{
    position: absolute;
    content: "";
    border: 5px solid;
    border-color: white;
    background-color: #5cadd3;
    font-size: 10px;
    height: 20px;
    width: 20px;
    top:88%;
    border-radius: 100%;
    left: 50%;
    z-index: 1;
}
/*MENU PROJETS*/

#menu-projets{
    margin: auto;
    padding: 0;
    font-family: 'Roboto', 'sans serif';
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 70px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}

#menu-projets ul {
    background-color: #e5e5e5;
    border-radius: 5px;
}

#menu-projets ul li{
    position: relative;
    display:inline-block;
    color: #777777;
    padding: 20px;
}

#menu-projets ul li:hover .triangle{
    opacity: 1;
}
#menu-projets ul li:hover{
    background-color: #5cadd3;
    color: white;
    box-shadow: 0px 5px #588baa;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
#menu-projets a:hover{
    color: white;
}
#menu-projets ul li .triangle{
    position: absolute;
    width: 0;
    height: 0; 
    opacity: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #588baa;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
}


/*GALERIE PROJETS*/

img{
    width: 100%;
    height: auto;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-left:5%;
    padding-right: 5%;
    grid-gap: 1em;
}
.illustration-listing{
    position: relative;
}

.illustration-image{
    line-height: 0;
    overflow: hidden;
}

.illustration-title{
    line-height: 1.5em;
    font-family: 'Roboto', 'sans serif';
    font-weight: 400;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: rgba(0,0,0,0.4);
    color: white;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    padding-left: 10px;
}
.fa-eye{
    position: absolute;
    bottom:25%;
    left: 80%;
    opacity: 0;
    margin: 0;
    font-size: 15px;
    background-image: linear-gradient(#4d97ba, #5cadd3);
    color: white;
    height: 15px;
    width:15px;
    border: 4px solid white;
    border-radius: 100%;
    padding: 20px;
    z-index: 2;
    transform: translate(-50%);
}
.illustration-listing:hover .illustration-title{
    opacity: 1;
}
.illustration-listing:hover .fa-eye{
    opacity: 1;
}

/*CONTACT*/

#contact{
    position: relative;
    display: block;
    margin: auto;
    background-color:#5cadd3;
}
.maps{
    display: block;
    width: 100%; 
    min-height: 800px;
    margin-bottom: 50px;
    opacity: 0.7;
    z-index: 9;
}
.contact-info{
    width: 100%;
    max-width: 300px;
    max-height: 800px;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top:10%;
    right: 10%;
    z-index: 5;
}
.contact-info h4{
    margin: 20px 15px;
    font-size: 22px;
}
.contact-info p{
    margin: 20px 15px;
    font-family: 'Roboto', 'sans serif';
    font-weight: 400;
    color:#777777;
}
.agence-contact{
    font-family: 'Roboto', 'sans serif';
    font-weight: 700;
}
input[type="text"]{
    padding: 10px;
    max-width: 300px;
    color: #777777;
    font-size: 20px;
    margin:5%;
    border: 1px solid #ddd;
    border-radius:2px;
    font-family: 'Roboto', 'sans serif';
    font-weight: 400;
}
input[id="message"]{
    height: 150px;
    
}
.button-3{
    display: block;
    font-family: 'Roboto', 'sans serif';
    font-weight: 700;
    height: 50px;
    width: 140px;
    background: #5cadd3;
    color:white;
    font-size: 18px;
    text-align: center;
    border-radius: 3px;
    margin-left: 15px;
    margin-bottom: 20px;box-shadow: 0px 3px #588baa;
}
.button-2{
        display: none;
}
/*FOOTER*/

.Copyright{
    display: inline-block;
    color:#777777;
    font-family: 'Roboto', 'sans serif';
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: 50px;
    padding-bottom: 10px; 
}

/*RESPONSIVE*/

@media screen and (max-width: 767px) {
    /*Header*/
    .header-wrapper{
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 0% 10% 0% 10%;
    }
    .image-bg1{
        min-height: 300px;
        object-fit: cover;
    }
    .text-slider h2{
        font-size: 18px;
    }
    .text-slider p{
        font-size:16px;
    }
    .button-1{
        display: block;
        font-family: 'Roboto', 'sans serif';
        font-weight: 400;
        height: 40px;
        width: 100px;
        margin-top: 20px;
        background: #5cadd3;
        color:white;
        font-size: 14px;
        text-align: center;
        box-shadow: 0px 3px #588baa;
    }
    
    /*nos services*/
     .courbe{
        display: block;
        position: relative;
        font-size: 20px;
        color: #5cadd3;
        max-height: 20px;
        max-width: 20px;
        border: 1px solid #c1c0c0;
        border-radius: 100%;
        padding: 10px;
        flex-grow: 1;    
    }
    #services-liste li i::after{
        border: 1px solid;
        font-size: 8px;
    }
    /*Nos projets*/
    #menu-projets ul li{
        display: grid;
        padding: 30px;
        text-align: center;
    }   
    /*contact*/
    #contact{
        display: block;
        margin: auto;
        background-color: white;
    }
    .maps{
        width: 100%; 
        min-height: 800px;
        margin-bottom: 50px;
        opacity: 0.7;
        z-index: 9;
    }
    .contact-info{
        top:10%;
        left: 50%;
        transform: translateX(-50%);
    }
    .illustration-title{
        opacity: 1;
    }
    .button-2{
        display: none;
        display: block;
        font-family: 'Roboto', 'sans serif';
        font-weight: 700;
        height: 20px;
        width: 140px;
        background: #5cadd3;
        color:white;
        font-size: 18px;
        text-align: center;
        border-radius: 3px;
        margin: auto;        
        box-shadow: 0px 3px #588baa;
    }

}





